<phpunit bootstrap="./test/bootstrap.php" colors="true" backupGlobals="false">
    <testsuites>
        <testsuite name="utpid">
            <directory>test/tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="DB_NAME" value="xcp_follower_test" />
        <env name="DB_HOST" value="127.0.0.1" />
        <env name="DB_PORT" value="3306" />
        <env name="DB_USER" value="root" />
        <env name="DB_PASSWORD" value="" />

        <env name="XCPD_CONNECTION_STRING" value="http://127.0.0.1:4000" />
        <env name="COUNTERPARTYD_USERNAME" value="rpcuser" />
        <env name="XCPD_RPC_PASSWORD" value="rpcpassword" />

    </php>

</phpunit>
